@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

html { overflow-y: scroll; }

html,
body {
  /* font-family: "Kanit", sans-serif; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2vw;
  min-height: 98vh;
  min-width: 98vw;
  background: #fcfcfc;
  padding: 5px 5px; 
}

body{
    align-items: stretch; 
}

.id {
  display: none; 
}
