<nav id="mySideNav" class="sidenav">
        <div class='closeSideNav' onclick="closeSideNav()">&times; </div>
        <div class='sidebartitle'>
            Categories
            <ul class='sideList'>
                <li>Headphone</li>
                <li>Shoes</li>
                <li>Camera Lens</li>
                <li>Phone</li>
            </ul>
        </div>
        <div class='sidebartitle'>
            Price
            <ul class='sideList'>
                <li>Price Range 1</li>
                <li>Price Range 2</li>
                <li>Price Range 3</li>
                <li>Price Range 4</li>
            </ul>
        </div>
        <div class='sidebartitle'>
            Brand
            <ul class='sideList'>
                <li>Brand 1</li>
                <li>Brand 2</li>
                <li>Brand 3</li>
                <li>Brand 4</li>
            </ul>
        </div>
    </nav>