

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: #fcfcfc;
}

form {
    background: white;
    width: 40%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    font-family: lato;
    position: relative;
    border-radius: 10px;
}

form header {
    background: #303030;
    padding: 30px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}


form label {
    margin-left: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
}

form label span {
    color: #444444;
    font-size: 2em;
    position: absolute;
    left: 3em;
    top: -10px;
}

form input {
    display: block;
    width: 70%;
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
}



form button {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background: #303030;
    padding: 5px 15px;
    font-size: 1.3em;
    font-weight: 400;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
    cursor: pointer;
}


form button:hover {
    background: darkgray;
}

