<% include partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To 掏包网!</h1>
             <p>View our products</p>
             <p>
                <a class="btn btn-primary btn-large" href="/product/new">Add New Product</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% products.forEach(function(product){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   
                   <div class="caption">
                       <h4><%= product.item %></h4>
                   </div>
                   <div class="caption">
                       <h4><%= product.category %></h4>
                   </div>
                   <div class="caption">
                       <h4><%= product.price %></h4>
                   </div>
                   <p>
                       <a href="/product/<%= product._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>
