table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; max-width: 100%; }

h1 {
  font-size: 1.2em;
  font-weight: bolder; 
  line-height: 1.0em;
  padding: 6px 0;
  font-weight: normal;
}

th {
    font-size: 1em;
    text-align: center;
}

/* page structure */
#title {
  display: block;
  padding: 10px 0;
}

#page {
  display: block;
  background: #fff;
}

/** cart table **/
#cart {
  display: table;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  color: #444;
}

#cart thead {
    width: 100%; 
}

#cart thead tr {
  border-bottom: 1px solid #d7dbe0;
}

#cart thead th {
  padding: 8px 0;
  width: 100%; 
}

#cart thead th.first {
  width: 30%;
}
#cart thead th.second {
  width: 10%;
}
#cart thead th.third {
  width: 40%; 
}
#cart thead th.fourth {
  width: 15%; 
}
#cart thead th.fifth {
  width: 5%ï¼› 
}

#cart tbody td {
  text-align: center;
  margin-top: 4px;
}

tr.productitm {
  height: 65px;
  line-height: 65px;
  /* border-bottom: 1px solid #d7dbe0; */
}

#cart tbody td img.thumb {
  vertical-align: bottom;
  /* border: 1px solid #ddd; */
  max-width: 65px;
  max-height: 65px;
  margin-bottom: 4px;
}

.qtyinput {
  width: 33px;
  height: 22px;
  text-align: center;
}

tr.totalprice, tr.extracosts {
  height: 35px;
  line-height: 35px;
}

.remove {
  /* http://findicons.com/icon/261449/trash_can?id=397422 */
  cursor: pointer;
  position: relative;
  right: 12px;
  top: 5px;
}

.light {
  color: #888b8d;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.45);
  font-size: 1.1em;
  font-weight: normal;
}

.thick {
  color: #272727;
  font-size: 1.2em;
  font-weight: bold;
}

/** submit btn **/
/* tr.checkoutrow {
  background: #cfdae8;
  border-top: 1px solid #abc0db;
  border-bottom: 1px solid #abc0db;
} */

td.checkout {
  padding: 12px 0;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}

#submitbtn {
  width: 150px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 0 0 10px 0;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: Arial, Tahoma, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #1ab188;;
  background: #1ab188;
}
#submitbtn:hover, .button:focus {
  background: #179b77;
}
