.modal.modal-wide .modal-dialog {
    width: 80%;
}

.modal-body{
    display: grid;
    grid-auto-rows: 400px;
    grid-gap: 30px;
    grid-template-columns: 45% 55%;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
}

.modal-body .img{
    height: 100%; 
    box-sizing: border-box; 
}

.modal-body .img img{
    max-width: 100%;
    height: auto; 
    max-height: 20rem;
    width: auto/6;
    margin: 10% 10%;
}
