<!DOCTYPE html>
<html>

<head>
    <title>Authorization</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/manage.css">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/manage.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">E-Commerce</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="./index.html">Products</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="/items.php">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="orders" href="./orders.html">Orders</a>
                </li>
                <li>
                    <a class="cart" href="./cart.html">Shopping cart</a>
                </li>
                <li>
                    <a href="./auth.html">
                        <span class="glyphicon glyphicon-user"></span>Log In</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="manage">
        <ul class="tab-group">
            <li class="tab active">
                <a href="#add">Add</a>
            </li>
            <li class="tab">
                <a href="#delete">Delete</a>
            </li>
			<li class="tab">
                <a href="#update">Update</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="add">
                <h1>Add Product</h1>

                <form action="/" method="post">

                    <div class="field-wrap">
                        <input type="text" name="name" placeholder="Product Name" />
                    </div>

                    <div class="field-wrap">
                        <input type="text" name="productId" placeholder="Product Id" />
                    </div>
					 <div class="field-wrap">
                        <input type="text" name="quantity" placeholder="Quantity" />
                    </div>
					 <div class="field-wrap">
                        <input type="text" name="image" placeholder="Image" />
                    </div>
					 <div class="field-wrap">
                        <input type="text" name="description" placeholder="Description" />
                    </div>

                    <button class="button button-block" />Add</button>

                </form>

            </div>
            <div id="delete">
                <h1>Delete Product</h1>

                <form action="/" method="post">

                    <div class="field-wrap">
                        <input type="text" name="deleteID" placeholder="Product ID" />
                    </div>
                    <button type="submit" class="button button-block" />Delete</button>

                </form>
            </div>
			<div id="update">
                <h1>Update Product</h1>

                <form action="/" method="post">

                    <div class="field-wrap">
                        <input type="text" name="name" placeholder="Product Name" />
                    </div>

                    <div class="field-wrap">
                        <input type="text" name="productId" placeholder="Product Id" />
                    </div>
					 <div class="field-wrap">
                        <input type="text" name="quantity" placeholder="Quantity" />
                    </div>
					 <div class="field-wrap">
                        <input type="text" name="image" placeholder="Image" />
                    </div>
					 <div class="field-wrap">
                        <input type="text" name="description" placeholder="Description" />
                    </div>

                    <button class="button button-block" />Update</button>

                </form>
            </div>
			
			

        </div>
    </div>
</body>

</html>
